@font-face {
  font-family: "AL LePorsche";
  src: url("./AL_LePORSCHE.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

:root {
  --main-black-color: #262626;
}

body {
  position: relative;

  margin: 0;

  * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AL LePorsche", sans-serif;
}

p,
span,
div,
button {
  font-family: "Open Sans", sans-serif;
}

#bg,
.container {
  opacity: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 90vh;
  justify-content: space-between;
  padding: 25px 50px;
  .title {
    margin-left: 10px;
    > h1 {
      font-size: 40px;
      color: #e1c16e;
    }
  }
  .sector {
    opacity: 0;
    &.sector-2 {
      // padding-top: 25px;
      padding-right: 25px;
    }
    &.sector-4 {
      display: flex;
    }
  }
  .icons {
    display: flex;
    img {
      width: 32px;
      height: 32px;
      filter: invert(90%) sepia(81%) saturate(562%) hue-rotate(319deg)
        brightness(94%) contrast(88%);
    }
  }
  .control-panel {
    flex-direction: column;
    width: 250px;
    height: auto;
    display: flex;
    padding: 25px;
    justify-content: end;
    margin-left: auto;

    .title {
      text-align: center;
    }
    .btn {
      background: none;
      border: 1px solid #e1c16e;
      border-radius: 5px;
      margin-bottom: 5px;
      &:hover {
        font-weight: bold;
      }
    }
    .background-btn-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .btn {
      }
    }
    .brockton-color-container {
      .btn {
      }
    }
  }
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

$flat-black: #262626;
